div.notificationAlert{

    header{
        background-color: dodgerblue !important;
    }
}

div.notificationConfirm{

    header{
        background-color: orange !important;
    }
}

div.notificationAlert,
div.notificationConfirm,
div.notificationError {

    main p {
        min-width: 200px;
        text-align: center; 
    }
}